<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="2.2.4" targetFramework="net40-Client" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="1.6.4" targetFramework="net40-Client" developmentDependency="true" />
  <package id="fastJSON" version="2.1.11.0" targetFramework="net40-Client" />
  <package id="ilmerge" version="2.14.1208" targetFramework="net40-Client" />
  <package id="LibZ.Bootstrap" version="1.1.0.2" targetFramework="net40-Client" />
  <package id="WindowsInput" version="0.2.0.0" targetFramework="net35" />
</packages>