<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi" version="4.0.0-alpha5" targetFramework="net452" />
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="4.0.0-alpha5" targetFramework="net452" />
  <package id="fastJSON" version="2.1.21" targetFramework="net452" />
  <package id="ilmerge" version="2.14.1208" targetFramework="net40-Client" />
  <package id="LibZ.Bootstrap" version="1.2.0.0" targetFramework="net40-client" />
  <package id="WindowsInput" version="0.2.0.0" targetFramework="net35" />
</packages>