<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FortyOne.AudioSwitcher.AutoUpdater.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <FortyOne.AudioSwitcher.AutoUpdater.Properties.Settings>
      <setting name="FortyOne_AudioSwitcher_AutoUpdater_AudioSwitcherService_AudioSwitcher"
               serializeAs="String">
        <value>http://services.fortyone.net.nz/AudioSwitcher/AudioSwitcher.asmx</value>
      </setting>
    </FortyOne.AudioSwitcher.AutoUpdater.Properties.Settings>
  </applicationSettings>
</configuration>